
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Konular</h2>
<h4>Yapay Zeka</h4>
<h4>Makine Öğrenmesi</h4>
<h4>Big Data</h4>
<h4>Block Chain</h4>
<h4>Nesnelerin İnterneti</h4>
<h4>ASP.Net</h4>
<h4>Arduino</h4>